.nav-item {margin-left: auto}
.navbar a {color: #000000;}
.navbar .nav-item a:hover {color: #c8000a;}
.navbar-toggler-icon {color: black;}
.navbar h2{margin-bottom: 0px}
.navbar .icon {margin-left: 0.5rem;  }
.navbar .row {margin-right: 0.1rem}
.navbar {box-shadow: 0 4px 2px -2px #aeaeae; padding-bottom: 0px; background-color: white}
.navbar-brand{ font-family: 'Patrick Hand SC', cursive; }
